.table-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid #ddd;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  background: #FFF;
  width: 100vw;
  padding: 5px;
  border-top: 1px solid #E7E7E7;
}

