.create-form-parameters {
  padding-top: 10px;
  border-top: 1px solid #d2d2d2;
}

.create-form-parameters .row > [class*=col-] {
  margin-bottom: 0;
}

.create-form-parameters section fieldset {
  padding-left: 15px;
}

